*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

html{
    font-size: 10px;
}

body{
    background:
            linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
            linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
            linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
            linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
    min-height: 100vh;
}

h2{
    font-size: 7rem;
    text-align: center;
    margin: 1rem;
    font-weight: 300;
    text-decoration: line-through;
}

ul{
    list-style: none;
    padding-left: 0;
    padding: 1rem;
}

li{
    font-size: 3rem;
}

a{
    color: yellow !important;
    text-decoration: none;
}

img{
    width: 22rem;
    height: 22rem;
    margin-right: 2rem;
}

.titleKind{
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.ulMain > li{
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
}

.ulMain{
    width: 100%;
    display: flex;
    justify-content: center;
}


.hidden{
    opacity: 0;
    position: relative;
    right: 70px;
    overflow: hidden;
    padding: 20px;
    border-radius: 2px;
    transition: all 1s;
    transform: translateY(100px);
    display: none;
}

.dropdownBackground {
    width: 100px;
    height: 100px;
    position: absolute;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
    transition: all 0.3s, opacity 0.1s, transform 0.8s;
    transform-origin: 50% 0;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.dropdownBackground.open {
    opacity: 1;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    transform: translateY(-500%) rotate(45deg);
}

.description{
    display: flex;
    width: 50rem;
    font-size: 1.8rem;
    background-color: white;
    padding: 2rem;
    box-shadow: 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: none;
}

.recursos > *{
    font-size: 2rem;
    width: 35rem;
    background-color: white;
    padding: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.redes{
    background-color: white;
    right: 50px;
}

.redes > *{
    font-size: 2rem;
    width: 15rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

a.button {
    background: black;
    display: block;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.trigger-enter .hidden {
    display: block;
}

.trigger-enter-active .hidden {
    opacity: 1;
}

.dropdownBackground.open {
    opacity: 1;
}