*{
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
    background:
        linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
        linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
        linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
        linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

nav{
    width: 60%;
    margin: auto;
    margin-top: 5rem;
}

ul{
    list-style: none;
    color: black;
}

a{
    list-style: none;
    color: black;
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.menu *{
    background-color: rgba(0, 0, 0, .1);
    padding: 0.3rem;
    border-radius: 0.8rem;
}

.wrapper{
    width: 40%;
    margin: auto;
    font-size: 1.5rem;
    color: black;
    line-height: 2;
}

.wrapper a {
    background-color: rgba(0, 0, 0, 0.1);
}

.highlight {
    background-color: white;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}